
.panel {
    @apply w-full h-[90vh] flex gap-x-10 px-8 py-[3rem];
  }
  
  .panel div.section {
    flex: 1;
    @apply h-full;
  }
  
  .panel .video-wrapper {
    @apply relative bg-yinke-yellow h-[100%] w-full overflow-hidden;
  }
  
  .panel .video-wrapper .video-player {
    object-fit: cover;
    @apply absolute top-0 left-0 bottom-0 right-0 h-full w-full z-[1];
  }
  
  .panel div.title-section {
    @apply flex flex-col gap-y-10;
  }
  
  .panel div.title-section h4 {
    @apply text-[2rem] text-slate-600 uppercase font-medium;
  }
  
  .panel div.title-section span {
    @apply text-yinke-yellow uppercase;
  }
  
  .panel div.actions-section {
    @apply flex flex-col justify-between;
  }
  
  .panel div.actions-section {
    @apply flex flex-col justify-between;
  }
  
  .panel div.actions-section .button-cls {
    @apply flex justify-end cursor-pointer;
  }
  
  .panel div.actions-section .button-cls .icon {
    @apply flex justify-center align-middle w-16 h-16 rounded-[2.5rem] text-slate-600 border border-slate-600 z-[2];
  }
  
  .panel div.actions-section .button-cls:hover .icon {
    @apply flex justify-center align-middle w-16 h-16 rounded-[2.5rem] text-slate-600 bg-white border border-slate-600 z-[2];
    transition: background-color 300ms ease-in-out;
  }